* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

body {
  position: relative;
  display: flex;
  justify-content: center;
}

header {
  position: fixed;
  width: 100%;
  display: flex;
  background: #28a323;
  /* border: 2px solid red; */
  justify-content: space-between;
  opacity: .9;
  z-index: 99999;
  height: 80px;
}

.logo {
  display: flex;
  /* border: 2px solid blue; */
  align-self: flex-end;
  align-items: center;
  width: 30%;
  margin-left: 20px;
}

.logo img {
  width: 15%;
  height: 15%;
  padding-right: 10px;
}

.logo h1 {
  font-size: 30px;
}

nav {
  /* position: absolute; */
  display: flex;
  /* align-content: stretch; */
  align-items: stretch;
  /* float: right; */
  /* margin-left: auto; */
  justify-content: flex-end;
  width: 30%;
  height: 100%;

  /* border: 2px solid green; */
}

nav ul {
  display: flex;
  /* float: right; */
  /* justify-content: space-between; */
  /* align-content: stretch; */
  /* align-items: stretch; */
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 100%;

  /* margin-right: 50px; */
}

nav ul li {
  display: flex;
  border-left: 2px solid #298e25;
  align-items: flex-end;
  padding-bottom: 5px;
  flex-grow: 1;
  justify-content: center;
  /* width: 50%; */
  /* align-content: stretch; */
  /* align-items: stretch; */
  /* float: left; */
}

nav ul li:hover {
  background-color: #298e25;
}

nav ul li a {
  /* display: inline-block; */
  padding: 14px 16px;
  color: black;
  font-size: 20px;
}

.instructions-img {
  width: 100%;
  height: auto;
  /* width: 200px; */
  /* height: 200px; */
}

.container {
  position: relative;
  top: 90px;
  border: 2px solid black;
  width: 80%;
  background-color: #d7d9dd;
}

#hero {
  position: relative;
  display: flex;
  flex-direction: column;
  /* border: 2px solid red; */
  align-items: center;
  justify-content: center;
  margin: auto;
  height: 130px;
  /* margin-top: 50px; */
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

form {
  position: relative;
  /* padding-top: 50px; */
}

hr {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

#how-it-works {
  display: flex;
  /* align-items: center; */
  /* justify-content: center; */
  flex-direction: column;
  /* align-items: flex-start; */
  /* border: 2px solid blue; */
  width: 80%;
  margin: auto;
  margin-top: 50px;
  justify-content: space-between;
}

.grid {
  display: flex;
  margin: 50px;
  /* border: 2px solid purple; */
  /* margin: auto; */
  /* justify-content: space-between; */
  /* align-items: center; */
}

.instructions-img-div {

}

.instructions-img {
  border: 1px solid gray;
  height: 200px;
  width: 400px;
  /* height: 50%; */
  /* width: 50%; */
}

#grid2 {
  display: flex;
  flex-direction: row-reverse;
}

.instructions {
  display: flex;
  padding-left: 90px;
  align-items: center;
}

#instructions2 {
  padding-right: 90px;
  /* border: 2px solid red; */
}

#instructions2 h3 {
  width: 250px;
}

#watch-more {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 500px;
  width: 70%;
}

.videoWrapper {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  /* position: relative;
  padding-bottom: 56.25%;
  padding-top: 25px;
  height: 0; */
}

iframe {
  max-width: 560px;
  width: 100%;
  /* position: absolute;
  top: 0;
  left: 0;
  /* width: 100%; */
  /* height: 100%; */ */
}

#pricing {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#pricing-instructions {
  margin-top: 40px;
}

#pricing-table {
  display: flex;
  /* border: 2px solid gray; */
  width: 60%;
  justify-content: space-between;
  margin-top: 40px;
}

.price-listing {
  border: 2px solid gray;
  width: 30%;
  text-align: center;
}

.price-listing h3 {
  font-size: 20px;
  background-color: gray;
}

.price {
  font-size: 45px;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  height: 30px;
  background-color: gray;
  margin-top: 50px;
}

footer ul {
  display: flex;
  width: 15%;
  justify-content: space-between;
  align-items: flex-end;
  height: 30px;
  margin-left: 20px;
}
