* {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

body {
  position: relative;
  display: flex;
  justify-content: center;
  background-color: #e1e2d9;
}

header {
  position: fixed;
  width: 100%;
  display: flex;
  background-color: #e1e2d9;
  justify-content: space-between;
  opacity: 1;
  z-index: 99999;
  height: 80px;
  /* border-bottom: 1px solid black; */
}

@media (max-width: 600px) {
  header {
    flex-wrap: wrap;
  }
}

.logo {
  display: flex;
  align-self: flex-end;
  align-items: center;
  width: 30%;
  margin-left: 20px;
}

.logo img {
  width: 15%;
  height: 15%;
  padding-right: 10px;
}

.logo h1 {
  font-size: 30px;
}

nav {
  display: flex;
  align-items: stretch;
  justify-content: flex-end;
  width: 50%;
  height: 100%;
}



nav ul {
  display: flex;
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 100%;
}

@media (max-width: 650px) {
  nav ul {
    flex-direction: column;
  }
}

nav ul li {
  display: flex;
  /* border-left: 2px solid #298e25; */
  align-items: flex-end;
  padding-bottom: 5px;
  flex-grow: 1;
  justify-content: center;
}

@media (max-width: 650px) {
  nav li {
    padding-bottom: 1px;
  }
}

nav ul li:hover {
  background-color: #298e25;
}

nav ul li a {
  padding: 14px 16px;
  color: black;
  font-size: 20px;
}

.instructions-img {
  width: 100%;
  height: auto;
}

.container {
  position: relative;
  top: 90px;
  border: 2px solid black;
  width: 80%;
  background-color: #d7d9dd;
}

#hero {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  height: 130px;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

form {
  position: relative;
}

hr {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

#how-it-works {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: auto;
  margin-top: 50px;
  justify-content: space-between;
}

.grid {
  display: flex;
  margin: 50px;
}

.instructions-img {
  border: 1px solid gray;
  height: 200px;
  width: 400px;
}

#grid2 {
  display: flex;
  flex-direction: row-reverse;
}

.instructions {
  display: flex;
  padding-left: 90px;
  align-items: center;
}

#instructions2 {
  padding-right: 90px;
}

#instructions2 h3 {
  width: 250px;
}

#watch-more {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 500px;
  width: 70%;
  margin: auto;
  margin-top: 50px;
}

.videoWrapper {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  margin-left: auto;
  margin-right: auto;
}

iframe {
  position: absolute;
  top: 0;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 100%;
}

#pricing {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#pricing-instructions {
  margin-top: 40px;
}

#pricing-table {
  display: flex;
  width: 60%;
  justify-content: space-between;
  margin-top: 40px;
}

.price-listing {
  border: 2px solid gray;
  width: 30%;
  text-align: center;
}

.price-listing h3 {
  font-size: 20px;
  background-color: gray;
}

.price {
  font-size: 45px;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 30px;
  background-color: gray;
  margin-top: 50px;
}

footer ul {
  display: flex;
  width: 15%;
  justify-content: space-between;
  align-items: center;
  height: 30px;
  margin-left: 20px;
}
